/* HorizontalImageScroll.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.slider-container {
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  background-color: white;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}

.next-image {
  display: none; /* Hide the preloaded image */
}